@import (less) "../css/pnotify.custom.min.css";

body {
  padding-top: 50px;
  .tab-content
  {
    padding: 25px;
  }
  .main{
  	padding: 0px 0px;
  }
  [role=form]
  {
  	margin: 10px
  }
  div.loading
  {
  	top: 10px;
  	right: 16px;
  	position: absolute;
  	background: black;
  	z-index: 9999;
  	color: white;
  	span{
  		padding-left: 10px;
  	}
  }
  .full-width
  {
    width: 100%;
  }
  .padding-left-15
  {
    padding-left: 15px!important;
  }
  .toolbar
  {
    z-index: 1000;
    position: absolute;
    top: 45px;
    right: 0px;
    padding: 10px;
  }
  .features-tile
  {
    min-width: 300px;
    max-width: 1140px;
    min-height: 100px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .quickLaunch
  {
    ul
    {
      width: 180px;
      float: right;
      li
      {
        width: 64px;
        height: 64px;
        line-height: 64px;
        float: left;
        list-style-type: none;
        text-align: center;
        margin: 1px;

        div
        {
          margin: auto;
          a
          {
            color: white;
          }
        }
      }
      li.orange
      {
        background-color: #FF9900
      }
      li.green
      {
        background-color: #99CC62
      }
      li.grey
      {
        background-color: #666666
      }
      li.blue
      {
        background-color: #0191C8
      }

    }
  }

}